.flatpickr-calendar {
  font-size: 12px;
  scale: 0.75;
  position: absolute;
  top: 0;
}

.flatpickr-calendar.static.open {
    z-index: 999;
    display: block;
    margin-top: -40px;
}

.flatpickr-day {
  width: 28px;
  height: 28px;
  line-height: 28px;
}

.flatpickr-weekday {
  font-size: 11px;
}

.flatpickr-months .flatpickr-month {
  height: 36px;
}